@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/********** HEADER **********/
.div__header{
    background-color: var(--color-1);
    display: flex;
    justify-content: center;
    padding: 2rem;
}
.div__introduction{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.div__hello{
    font-family: "Inter_24pt-Bold";
    font-size: 3rem;
    color: var(--color-2);
}
.div__name{
    font-family: "Roboto_Condensed-Regular";
    font-size: 1.5rem;
    margin-top: 0.5rem;
    color: var(--color-2);
}
.div__bio{
    margin-top: 1rem;
    font-family: "Roboto-Bold";
    font-size: 1rem;
    color: var(--color-2);
}

/********** MAIN **********/
.div__main{
    background-color: var(--color-2);
    display: flex;
    justify-content: center;
    border-radius: 1rem 1rem 0 0;
    padding: 1rem 0rem;
}
.div__main__img{
    width: 40%;
    display: flex;
    object-fit: cover;
}
.div__main__img img{
    width: 100%;
    height: 13.5rem;
    border-radius: 1.2rem;
}
.div__main__info{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.div__skills{
    font-family: "Roboto_Condensed-Regular";
    font-size: 1.5rem;
    color: var(--color-1);
}
.skills-title::before{
    content: "⚙️";
    font-size: 2rem;
    color: var(--color-1);
    margin-right: 0.5rem;
}
.div__main__info ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}
.div__main__info ul li{
    font-family: "Inter_24pt-bold";
    font-size: 1.2rem;
    color: var(--color-1);
    margin-bottom: 0.5rem;
}
.div__bio-personal{
    font-family: "Roboto-Bold";
    font-size: 1rem;
    color: var(--color-1);
    margin-top: 2rem;
    margin-left: -7.6rem;
}
.bio-personal::before{
    content: "📜";
    font-size: 1.4rem;
    color: var(--color-1);
    margin-right: 0.5rem;
}

/********** FOOTER **********/
.div__footer{
    background-color: var(--color-2);
    display: flex;
    justify-content: center;
    padding: 2rem;
}
.div__info-personal{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.title-info{
    font-family: "Roboto_Condensed-Regular";
    font-size: 1.5rem;
    color: var(--color-1);
}

.div__footer-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}
.div__footer-info .gitHub{
    background-color: var(--color-1);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 3rem;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
}
.div__footer-info .linkedIn{
    background-color: var(--color-1);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16rem;
    height: 3rem;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
}
.div__footer-info a img{
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
}
.div__footer-info a p{
    font-family: "Roboto-Bold";
    font-size: 1rem;
    color: var(--color-2);
}

/********** MEDIA QUERIES **********/
@media screen and (max-width: 350px){
    .div__main{
        padding: 0.5rem;
    }
    .div__main__img{
        width: 50%;
    }
    .div__skills{
        font-size: 1.2rem;
    }
    .skills-title::before{
        content: "⚙️";
        font-size: 1.6rem;
        margin-right: 0.5rem;
    }
    
    .div__bio-personal{
        margin-left: -8.5rem;
    }
}

@media screen and (min-width: 750px){
    .div__hello{
        font-size: 3rem;
    }
    .div__name{
        font-size: 2rem;
    }
    .div__bio{
        font-size: 1.3rem;
    }

    .div__main{
        padding: 1rem;
    }
    .div__main__img{
        width: 35%;
    }
    .div__main__info{
        width: 50%;
    }
    .div__main__img img{
        height: 19rem;
    }
    .div__skills{
        font-size: 2rem;
    }

    .skills-title::before{
        content: "⚙️";
        font-size: 2.7rem;
        margin-right: 0.5rem;
    }

    .div__main__info ul{
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
    }
    .div__main__info ul li{
        font-family: "Inter_24pt-bold";
        font-size: 2rem;
        color: var(--color-1);
        margin-bottom: 0.5rem;
    }

    .div__bio-personal{
        font-size: 1.2rem;
        margin-top: 2rem;
        margin-left: -13.5rem;
        margin-bottom: 2rem;
    }
     
    .title-info{
        margin-top: 2rem;
        font-size: 2rem;
    }
    .div__footer-info{
        margin-top: 3rem;
    }
    .div__footer-info .linkedIn{
        margin-top: 1.5rem;
    }
}

@media screen and (min-width: 1250px){
    .div__hello{
        font-size: 3rem;
    }
    
    .div__main__img{
        width: 27%;
    }
    .div__main__img img{
        height: 28rem;
    }

    .div__skills{
        font-size: 3rem;
    }
    .skills-title::before{
        content: "⚙️";
        font-size: 4rem;
        margin-right: 0.5rem;
    }
    .div__main__info ul{
        margin-top: 2rem;
    }
    .div__main__info ul li{
        font-size: 3rem;
    }

    .div__bio-personal{
        width: 70rem;
        font-size: 2rem;
        margin-top: 4rem;
    }
}

