@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/********** HEADER **********/
.div__header{
    background-color: var(--color-1);
    display: flex;
    justify-content: center;
    padding: 2rem;
}
.div__introduction{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.div__hello{
    font-family: "Inter_24pt-Bold";
    font-size: 3rem;
    color: var(--color-2);
}
.div__name{
    font-family: "Roboto_Condensed-Regular";
    font-size: 1.5rem;
    color: var(--color-2);
}
.div__bio{
    margin-top: 1rem;
    font-family: "Roboto-Bold";
    font-size: 1rem;
    color: var(--color-2);
}

/********** MAIN **********/
.div__main{
    background-color: var(--color-2);
    display: flex;
    justify-content: center;
    border-radius: 1rem 1rem 0 0;
    padding: 1rem 0rem;
}
.div__main__img{
    width: 40%;
    display: flex;
    object-fit: cover;
}
.div__main__img img{
    width: 100%;
    height: 14rem;
}
.div__main__info{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.div__skills{
    font-family: "Roboto_Condensed-Regular";
    font-size: 1.5rem;
    color: var(--color-1);
}
.skills-title::before{
    content: "⚙️";
    font-size: 2rem;
    color: var(--color-1);
    margin-right: 0.5rem;
}
.div__main__info ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}
.div__main__info ul li{
    font-family: "Inter_24pt-bold";
    font-size: 1.2rem;
    color: var(--color-1);
    margin-bottom: 0.5rem;
}
.div__bio-personal{
    font-family: "Roboto-Bold";
    font-size: 1rem;
    color: var(--color-1);
    margin-top: 2rem;
    margin-left: -9.5rem;
}
.bio-personal::before{
    content: "📜";
    font-size: 1.4rem;
    color: var(--color-1);
    margin-right: 0.5rem;
}