
:root{
    --color-1: #FFFFFF;
    --color-2: #000000;
    --color-3: #660303;
    --color-4: #b21010;
    --color-5: #abc8f3;
    --color-6: #8b88af;
    --color-7: #c0b130;
}

@font-face {
    font-family: "Inter_24pt-Bold";
    src: url("../storage/fonts/Inter/static/Inter_24pt-Bold.ttf");
}
@font-face {
    font-family: "Roboto_Condensed-Regular";
    src: url("../storage/fonts/Roboto/static/Roboto_Condensed-Regular.ttf");
}
@font-face {
    font-family: "Roboto-Bold";
    src: url("../storage/fonts/Roboto/static/Roboto-Bold.ttf");
}